# User / System
PUID=1000
PGID=1000
TZ="Europe/Madrid"
USERDIR="/home/nico"
DOCKERDIR="/home/nico/docker"
APPDIR="/home/nico/docker/appdata"
DATADIR="/media"
HOSTNAME="miniserver"
SERVER_IP=192.168.1.166
LOCAL_IPS=127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12

# Cloudflare
CLOUDFLARE_DOMAINS=your-domains-here
CLOUDFLARE_API_TOKEN=your-cloudflare-api-token

# Media
PLEX_TOKEN=your-plex-token
PLEX_KEY=your-plex-key
PLEX_CLAIM=your-plex-claim-token
TAUTULLI_KEY=your-tautulli-api-key
OVERSEERR_API=your-overseerr-api-key
RD_API_KEY=your-real-debrid-api-key
RIVEN_API_KEY=your-riven-api-key

# Management
PORTAINER_KEY=your-portainer-key
NGINX_PASSWORD=your-nginx-password
HOMEPAGE_ALLOWED_HOSTS=your-homepage-hostname

# Home Assistant
HOMEASSISTANT_TOKEN=your-home-assistant-long-lived-token

# Paperless-ngx
PAPERLESSNGX_TOKEN=your-paperless-token

# Speedtest Tracker
#SPEEDTESTTRACKER_KEY=base64:placeholder
SPEEDTESTTRACKER_KEY=base64:your-speedtest-tracker-key
SPEEDTESTTRACKER_API=your-speedtest-tracker-api-key

# CouchDB
COUCHDB_HMAC_KEY=your-couchdb-hmac-key
COUCHDB_ADMIN_PASSWORD=your-couchdb-admin-password

# Pi-hole
PIHOLE_PASSWORD=your-pihole-password

# Beszel
BESZEL_SUPERUSER_PASSWORD=your-beszel-password

# Firefly III
MYSQL_USER=firefly
MYSQL_PASSWORD=your-firefly-db-password
MYSQL_DATABASE=firefly
